@charset "utf-8";
/* CSS Document */




.full-form { width:100%;}








 input[type=text], input[type=email], textarea {
    color: #868686;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e9e9e9;
    border-top: 1px solid #c7c7c7;
    border-left: none;
    border-bottom: none;
    border-right: none;
    padding: 0 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: inset 0 1px 7px -1px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: inset 0 1px 7px -1px rgba(0, 0, 0, 0.19);
    box-shadow: inset 0 1px 7px -1px rgba(0, 0, 0, 0.19); 
	
}

input[type="text"], input[type="email"] { height: 40px; width: 40% !important; }


textarea{ height: 80px; width: 70% !important; }


.readmore {
    cursor: pointer;
    margin: 0;
    float: left;
    padding: 11px 20px;
    border: none;
    height: 40px;
    background:#000;
    color: #ffffff;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    -webkit-transform: translateZ(0);
    margin-bottom: 20px !important;
}
